html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
}

.main-page {
  height: 100%;
  width: 100%;
  background: url("../img/background.jpg");
  background-size: cover;
}

.main-page-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 109%;
  color: #1b1d1f;
  margin-bottom: 36px;
  margin-top: 0;
}

.main-page-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 0;
}

.main-page-container {
  border-radius: 40px;
  padding: 60px;
  width: 573px;
  background-color: #fff;
  box-sizing: border-box;
}

.wrapper {
  width: 1170px;
  margin: auto;
}

.logo {
  margin-top: 32px;
  margin-bottom: 98px;
}
